# / 
snippet / "c:/* */"
/* ${1} */
	${0}
endsnippet

# main 
snippet main
	int main(void)

	{

		${1}

		return 0;

	}
${0}
endsnippet

# inc
snippet inc
#include <${1:stdio}.h>
${0}
endsnippet

# printf
snippet printf
printf("${1}"); ${0}
endsnippet

